<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Актуализиране на Блог Пост</title>
</head>
<body>
    <h1>Актуализиране на Блог Пост</h1>

    <form action="{{ url_for('update', id=post['id']) }}" method="POST">
        <label for="author">Автор:</label><br>
        <input type="text" id="author" name="author" value="{{ post['author'] }}"><br>

        <label for="title">Заглавие:</label><br>
        <input type="text" id="title" name="title" value="{{ post['title'] }}"><br>

        <label for="content">Съдържание:</label><br>
        <textarea id="content" name="content">{{ post['content'] }}</textarea><br>

        <input type="submit" value="Актуализиране">
    </form>
</body>
</html>
